.bookmark-entry {
    width: 100%;
    height: 150px;
    display: -webkit-flex;
    display: flex;
}

.bookmark-entry img {
    width: 100px !important;
}

.bookmark-entry .text {
    -ms-flex: 1;
    flex: 1;
}